/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #4a4a4a;
  background-color: #fafbfc;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

h1, h2 {
  font-family: 'Bitter', serif;
  letter-spacing: .03em;
}

a {
  color: #797979;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  width: 80%;
  max-width: 250px;
}

.nav a {
  color: #444;
}

.nav a:hover {
  color: #777;
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 2em;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about-me-image {
  margin: 6vh auto auto 33%;
  height: auto;
  width: 34%;
  max-width: 705px;
  display: block;
}

.about-me-image img {
  max-width: 100%;
  max-height: 100%;
}

.about-title {
  margin-bottom: .6em;
  line-height: 1em;
  text-align: center;
}

/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #4a4a4a;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #4a4a4a;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #4a4a4a;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #4a4a4a;
}

input::placeholder, textarea::placeholder {
  color: #4a4a4a;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #4a4a4a;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #4a4a4a;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #4a4a4a;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #fafbfc;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #fafbfc;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #fafbfc;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #fafbfc;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #fafbfc;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #fafbfc;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #fafbfc;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #fafbfc;
}

#form {
  position: relative;
  width: 96%;
  max-width: 550px;
  clear: both;
  margin: 0 auto 2em auto;
  text-align: center;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
  width: 85%;
  height: 4em;
  padding: 0px 4% 0px 4%;
  margin-top: -1px;
  background: transparent;
  outline: none;
  color: #4a4a4a;
  border: solid 1px #4a4a4a;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #4a4a4a;
  color: #fafbfc;
}

textarea {
  width: 85%;
  height: 6em;
  padding: 1.3em 4% 1.3em 4%;
  margin-top: -1px;
  background: transparent;
  outline: none;
  color: #4a4a4a;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #4a4a4a;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #4a4a4a;
  color: #fafbfc;
}

#submit {
  width: 85%;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #4a4a4a;
  outline: none;
  cursor: pointer;
  border: solid 1px #4a4a4a;
  border-top: none;
  box-sizing: content-box;
}

#submit:hover {
  color: #fafbfc;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.4em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.nav {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* nav
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

#cover-photo-container,
#info-container {
  display: block;
}

#info-container {
  margin-top: 3em;
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.35em;
  font-size: 3em;
  line-height: 40px;
  text-transform: uppercase;
}

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: 1px solid #8085C1;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 12%;
  padding-left: 3%;
  padding-right: 3%;
  border-right: 1px solid #e7e7e7;
  letter-spacing: 0.03em;
}

.content {
  padding-left: 6%;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  height: 44px;
  width: 48px;
  position: fixed;
}

#sidebar-button img {
  padding: 7px;
  width: 32px;
}

#sidebar-button:active,
#sidebar-button:hover, {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Project page copy content
/*
/*****************************************************************************/

.project-wrapper {
    height: 100%;
    display: block;
    overflow: auto;
    position: relative;
  }

.project-video {
    display: block;
    overflow: auto;
    position: fixed;
    left: 20%;
    top: 82%;
    word-wrap: break-word;
    float: left;
    width: 78%;
  }

.project {
  display: block;
  position: relative;
  margin: 4.5% 10% 2% 10%;
  word-wrap: break-word;
  float: none;
  width: auto;
  text-align: center;
}

.project-title {
  margin-bottom: .6em;
  line-height: 1em;
}

.project-body {
  font-size: 1.3em;
  margin: 0 auto 1.45em auto;
  max-width: 1080px;
}
