  .header {
    padding-top: 3.45em;
  }

  .nav {
    font-size: 0.9em;
  }

@media (max-width:1090px) {
  #title {
    font-size: 2.75em;
    line-height: 35px;
  }

  .header {
    padding-top: 3.85em;
  }

  .nav {
    font-size: 0.85em;
  }

  .content {
    padding-right: 3em;
  }
}
/**
 * tagline fix
 **/
@media (max-width:800px) {
  .tagline {
    font-size: 0.77em;
  }
}
/**
 * small tablet
 **/
@media (max-width:640px) {
  .project-body {
    font-size: 1.4em;
    line-height: 1.3em;
  }

  #logo {
    max-width: 35%;
  }

  #cover-photo-container {
    text-align: center;
  }

  #title {
    font-size: 2.5em;
  }

  .sidebar {
    transition: .5s;
    margin-left: -100%;
    z-index: 3;
    width: 45%;
  }

  #copyright {
    z-index: 3;
    width: 88.245%;
  }

  .content {
    z-index: 1;
    padding-right: 2em;
  }

  .about-me-image {
    margin-left: 17%;
    width:66%;
  }
  #footer-links {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

}
/**
 * phone
 **/
@media (max-width:440px) {
  .project-title {
    font-size: 2.55em;
    margin-bottom: 3%;
  }
}

/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0;
  background-color: #fff;
}
