<html>
<body>
<div class="project-wrapper">
<div class="about-me-image">
<img src="/images/chilcote_about-me.png" alt="Zachary Chilcote standing in front of painting at SAM in Seattle, Washington.">
</div>
<div class="project">
<h1 class="about-title">Hi, I'm Zach.</h1>
<p class="project-body">Zachary Chilcoté, in fact. Pronounced "she-co-tay".
	I'm a native Austinite; born, raised and still living here with my lovely wife, Olivia.
	I received my BA through the Communication Design program at Texas State University in San Marcos back in 2014.
	Shortly after, I picked up a steady job at a local creative studio while taking on side gigs along the way. Logo and brand design
	are what I prosper on, although I do dabble in some front-end code—I was able to build out this website from scratch, but it
	was not a short process, I'll tell you.
	I try to fit in some games of basketball at least two times a week, and have roughly maintained a plant-based diet for the last
	year and a half.<br> Dairy is everywhere.<br><br>
	That's me in a nutshell.<br><br>
	Wanna chat more? Hit me up below and we can talk about life and space, and whatnot.</p>
		 <br>

</div>
<form id="form" class="topBefore" method="POST">

	<input id="name" type="text" name="name" placeholder="NAME">
  <input id="email" type="text" name="_replyto" placeholder="E-MAIL">
	<textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>
  <input type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_next" value="/about/" />
  <input id="submit" type="submit" value="SUBMIT">

</form>
<script>
    var contactform =  document.getElementById('form');
    contactform.setAttribute('action', '//formspree.io/' + 'zachsonpub' + '@' + 'gmail' + '.' + 'com');
</script>

</div>

</body>
</html>
