<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" > <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

	</style>
</head>
<body>

		<ul class="caption-style-4">
			<a href="/project_01/">
				<li>
			  <img src="images/grid/verizon.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Verizon Showcase</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

			<li>
				<a href="/project_02/">
				<img src="images/grid/dell.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Dell S&P</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

			<li>
				<a href="/project_03/">
				<img src="images/grid/kuiu.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>KUIU</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

		<li>
			<a href="/project_05/">
			<img src="images/grid/alcatel.jpg" alt="">
			<div class="caption">
				<div class="caption-text">
					<h1>Alcatel</h1>
						<!--<p>1111</p>-->
				</div>
			</div>
		</li>
	</a>

			<li>
				<a href="/project_04/">
				<img src="images/grid/supply_works.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Supply Works</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

			<li>
				<a href="/project_06/">
				<img src="images/grid/olive-blog-logo.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Logos</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

		<li>
			<a href="/project_07/">
			<img src="images/grid/vector-art.jpg" alt="">
			<div class="caption">
				<div class="caption-text">
					<h1>Icons + Vector Art</h1>
						<!--<p>1111</p>-->
				</div>
			</div>
		</li>
	</a>

	<li>
		<a href="/project_08/">
		<img src="images/grid/photography.jpg" alt="">
		<div class="caption">
			<div class="caption-text">
				<h1>Photography</h1>
					<!--<p>1111</p>-->
			</div>
		</div>
	</li>
</a>

<li>
	<a href="/project_09/">
	<img src="images/grid/doodle.jpg" alt="">
	<div class="caption">
		<div class="caption-text">
			<h1>Doodles + Poodles</h1>
				<!--<p>1111</p>-->
		</div>
	</div>
</li>
</a>

		</ul>

		<script src="/js/ResizeSensor.js"></script>
		<script src="/js/ElementQueries.js"></script>

</body>
</html>
