<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#" > <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<body>
	<p id="notranslate">
		Designs by Zachary Chilcoté, a native Texan—Austinite to be exact, that showcase his style, diversity of skill, and desire to
		remain working in the realms of creative. This snippet is also an attempt to confirm the English language is detected on this page
		in hopes Google will not try to automatically translate it. Is it my last name? I could have added some meta data, but I fear that would
		kill any attempt of translating this thing in the off chance someone across the pond, on an island, or on some planet tries
		to read it and cannot comprehend. In the end, the visuals are univeral, and I hope they speak for themselves, really.
		<ul class="caption-style-4">
			<li>
				<a href="/logos/">
				<img src="images/grid/chilcote_olive-blog-logo.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Logos</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

			<a href="/verizon-showcase/">
				<li>
			  <img src="images/grid/chilcote_verizon.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Verizon Showcase</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

			<li>
				<a href="/kuiu/">
				<img src="images/grid/chilcote_kuiu.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>KUIU</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

			<li>
				<a href="/alcatel/">
				<img src="images/grid/chilcote_alcatel.jpg" alt="">
				<div class="caption">
					<div class="caption-text">
						<h1>Alcatel</h1>
							<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

		<li>
			<a href="/dell/">
			<img src="images/grid/chilcote_dell.jpg" alt="">
			<div class="caption">
				<div class="caption-text">
					<h1>Dell S&P</h1>
						<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

		<li>
			<a href="/vectors/">
			<img src="images/grid/chilcote_vector-art.jpg" alt="">
			<div class="caption">
				<div class="caption-text">
					<h1>Icons + Vector Art</h1>
						<!--<p>1111</p>-->
					</div>
				</div>
			</li>
		</a>

		<li>
			<a href="/doodles/">
			<img src="images/grid/chilcote_doodle.jpg" alt="">
			<div class="caption">
				<div class="caption-text">
					<h1>Doodles + Poodles</h1>
						<!--<p>1111</p>-->
				</div>
			</div>
		</li>
		</a>

		</ul>

		<script src="/js/ResizeSensor.js"></script>
		<script src="/js/ElementQueries.js"></script>

</body>
</html>
