---
layout: default
---

<head>

    <!-- Bootstrap Core CSS -->
    <link href="/css/slider/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/slider/full-slider.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="project-wrapper">
<div class="wrapper">


    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            {% if page.show_image04 %}
            <li data-target="#myCarousel" data-slide-to="3"></li>
            {% endif %}
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image01 }}');">
                  {% if page.show_video %}
                  <video loop muted autoplay src="{{ page.video }}" autoplay poster="{{ page.poster }}"></video>
                  {% endif %}
                </div>

            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image02 }}');"></div>
            </div>

            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image03 }}');"></div>
            </div>

           {% if page.show_image04 %}
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image04 }}');"></div>
            </div>
            {% endif %}

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
  </div>

    {{ content }}

  </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Swipe script -->
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/swipe.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 0000 //changes the speed
    })
    </script>

</body>

</html>
