---
layout: default
---

<head>

    <!-- Bootstrap Core CSS -->
    <link href="/css/slider/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/slider/full-slider.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="project-wrapper">
<div class="wrapper">


    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% if page.show_image02 %}
            <li data-target="#myCarousel" data-slide-to="1"></li>
            {% endif %}
            {% if page.show_image03 %}
            <li data-target="#myCarousel" data-slide-to="2"></li>
            {% endif %}
            {% if page.show_image04 %}
            <li data-target="#myCarousel" data-slide-to="3"></li>
            {% endif %}
            {% if page.show_image05 %}
            <li data-target="#myCarousel" data-slide-to="4"></li>
            {% endif %}
            {% if page.show_image06 %}
            <li data-target="#myCarousel" data-slide-to="5"></li>
            {% endif %}
            {% if page.show_image07 %}
            <li data-target="#myCarousel" data-slide-to="6"></li>
            {% endif %}
            {% if page.show_image08 %}
            <li data-target="#myCarousel" data-slide-to="7"></li>
            {% endif %}
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image01 }}');" alt="{{ page.image01-alt }}">
                  {% if page.show_video %}
                  <video loop muted autoplay src="{{ page.video }}" poster="{{ page.poster }}" alt="{{ page.video-alt }}"></video>
                  {% endif %}
                  {% if page.show_vid-white %}
                  <video loop muted autoplay src="{{ page.vid-white }}" poster="{{ page.poster }}" alt="{{ page.vid-white-alt }}" class="vid-white"></video>
                  {% endif %}
                </div>

            </div>
            {% if page.show_image02 %}
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image02 }}');" alt="{{ page.image02-alt }}"></div>
            </div>
            {% endif %}

             {% if page.show_image03 %}
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image03 }}');" alt="{{ page.image03-alt }}"></div>
            </div>
            {% endif %}

           {% if page.show_image04 %}
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('{{ page.image04 }}');" alt="{{ page.image04-alt }}"></div>
            </div>
            {% endif %}

            {% if page.show_image05 %}
             <div class="item">
                 <!-- Set the third background image using inline CSS below. -->
                 <div class="fill" style="background-image:url('{{ page.image05 }}');" alt="{{ page.image05-alt }}"></div>
             </div>
             {% endif %}

             {% if page.show_image06 %}
              <div class="item">
                  <!-- Set the third background image using inline CSS below. -->
                  <div class="fill" style="background-image:url('{{ page.image06 }}');" alt="{{ page.image06-alt }}"></div>
              </div>
              {% endif %}

              {% if page.show_image07 %}
               <div class="item">
                   <!-- Set the third background image using inline CSS below. -->
                   <div class="fill" style="background-image:url('{{ page.image07 }}');" alt="{{ page.image07-alt }}"></div>
               </div>
               {% endif %}

               {% if page.show_image08 %}
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('{{ page.image08 }}');" alt="{{ page.image08-alt }}"></div>
                </div>
                {% endif %}


        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
  </div>

    {{ content }}

  </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Swipe script -->
    <script src="/js/jquery.touchSwipe.min.js"></script>
    <script src="/js/swipe.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 0000 //changes the speed
    })
    </script>

</body>

</html>
